@import 'variables'
@import 'colors'
@import 'layout'
@import 'typography'


body
	background: $blue-white

header>.cv-header
	+fixedPosition(0, 0)
	display: box
	width: 100%
	height: 50px
	background: $med-charcoal
	color: $lt-charcoal
	padding-top: 15px
	padding-left: 25px
	border-bottom: 1px solid $dk-charcoal

.containerIntro
	display: box
	position: relative
	height: 300px

.itemIntro
	+absolutePositioned(50%, 15%) //using mixin from _layouts.sass
	display: box
	width: 350px

section.main
	margin-left: 20px

article>p
	margin-right: 40%
